# Archivos de sistema de macOS
.DS_Store

# Archivos de configuración y caché de Vagrant
.vagrant/

# Archivos de compilación temporales
*.log
*.swp
*.swo
*.tmp

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo

# Archivos de respaldo de editores de texto
*~
